@import url('https://fonts.googleapis.com/css?family=Montserrat');

.leaderBoard{
    width: 80%;
    font-family: 'Montserrat', sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    color: white;
    background: #768aaf;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 10px 10px 0 0;
    
}
table{
    width: 100%;
    background: #D2DFF4;
}